<h1>These are all the Articles</h1>

<ul>
  <% @articles.each do |article|%>
  <li><%=link_to article.title, article_path(article.id) %>
  <% end %></li>
</ul>

<%= link_to "Crear articulo", new_article_path %>
